ul {
    font-size: xx-large;
}

.filename {
    margin-bottom: 10px;
}

.wenn {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    position: relative;
    margin: 5px;

}

.wenn-large{
    width: 400px;
    height: 400px;
    font-size: xxx-large;
}

.wenn-small{
    width: 100px;
    height: 100px;
}

.html {
    background: rgb(250, 131, 52, 0.5);

}

.css {
    background: rgb(255, 253, 119, 0.5);
}

.js {
    background: rgb(56, 134, 151, 0.5);

}

#wenn1 .html {
    left: 90px;
}

#wenn1 .css {
    left: -90px;
}

#wenn1 .js {
    top: 90px;
}

.lektion-row{
    
}


.tagesprogramm{
    display: flex;
    flex-direction: column;
}

.lektion{
    display: flex;
    justify-content: space-around;
    align-items: stretch;

}

.lektion > div:nth-child(1), .lektion > div:nth-child(2) > div{
    background-color: cadetblue;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid white;
    display: flex; /* make the div a flex-container to center h and v*/
    align-items: center; /* align the text centered vertically */
    /* justify-content: center; align the text centered horizontally */
}


.lektion > div:nth-child(2){
    flex-grow: 1;
}

.lektion > div:nth-child(2) > div{
    font-size: xx-large;
    padding-left: 10%;
}


.lektion > div:nth-child(1){
    /* height: 200px; */
    padding-left: 30px;
    padding-right: 30px;

}


.blur .slide-background-content{
    filter: blur(10px);
}